<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit</title>
</head>
<body>
  <div>
    <p>Edit your post</p>
    <form action="/update/<%=post._id%>" method="post">
      <textarea name="content"><%=post.content%></textarea>
      <br>
      <input type="submit" value="Update">
    </form>


  </div>
</body>
</html>